@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #E7F0FF;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vw;
}

.page {
  display: flex;
  justify-content: center;
  text-align: center;

  margin: 0;
}

.center {
  width: 40%;
  margin-top: 5%;
  height: 30%;

}

.text {
  margin-bottom: 4%;
}

.spinner {
  width: 80%;
  margin-left: 8%;
}

h3 {
  font-size: 30px;
}